<nav >
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#projeto">O Projeto</a></li>
        <li><a href="#livro">O Livro</a></li>
        <li><a href="#main"><img src="/assets/Logo.png" class="logo" alt=""></a></li>
        <li><a href="#autora">A Autora</a></li>
        <li><a href="#atendimento">Contato</a></li>
      </ul>
    </div>
</nav>

<% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert-#{key}") do %>
          <p><%= value %></p>
      <% end %>
  <% end %>

<section id="main"style="z-index: -1;">
  <div class="container">
    <div class="row col-sm-10 col-sm-offset-1 distance">
      <div>
        <img src="/assets/Logo1.png" class="logo1" alt="">
      </div>
      <div class="col-sm-6">
        <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <p>Um Ebook interativo que é divertido </p>
          <p>e inovador voltado para as pessoas  </p>
          <p>de todas as idades. </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="what-is wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <img src="/assets/Phone.png" class="phone" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<div class="border2"></div>

  <section id="projeto" style="z-index: 22200;position: relative; ">
      <%= render :template => "home/projeto"%>
  </section>
  <div class="border2"></div>

  <section id="autora">
      <%= render :template => "home/autora"%>
  </section>
  <div class="border2"></div>

  <section id="livro">
    <%= render :template => "home/livro"%>
  </section>
  <div class="border2"></div>

  <section id="atendimento">
    <div id="contact-us">
      <div class="container">
        <%= render :template => "home/atendimento"%>
      </div>
    </div>
  </section>
